.teacher-profile__education.margin-bottom-10px
  | #{setting.grade_jp} #{setting.prefecture_jp} #{setting.student.student_type.to_s(:detail)}

.teacher-profile__message.margin-bottom-10px
  | #{setting.self_intro}
